.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.menu-button {
	width: 80%;
	transition: all 0.5s;
}

.sidebar{
	background-color: rgba(146, 216, 192, 0.31);
	max-width: 30%;
	min-width:10%;
	width:17%;
}

.container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/*max-height: 600;
	padding: 0 5% 5% 0; */
	list-style: none;
}

.item{
	
}

.item-hidden{
	display: none;
}

.item-left{
	order: 1;
	flex-grow: 1;
	margin-right: 20px;
}

.item-right{
	margin-top: 20px;
	margin-left: 10%;
	order: 2;
	flex-grow: 2;
}

h1.page-title{
	text-align: center;
}

.sidebar-paragraph{
	margin: 30px;
	padding: 10px;
	border-radius: 20px;

}

.image-frame{
	margin: 10px;
	padding: 10px;
	border-radius: 20px;

}

.main-content{
	margin-left: 30px;
	width: 80%;
	overflow: auto;
}

form.split-form {
  /*  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  /*  -webkit-column-gap: 6px; 
    -webkit-column-rule-style: dotted;
    -webkit-column-rule-width: 1px;
    -webkit-column-rule-color: gray;
    width: 75%;
    padding: 12%;
    -moz-column-count: 2; /* Firefox */
    -moz-column-gap: 25px; 
    -moz-column-rule-style: solid;
    column-count: 2;
    column-gap: 25px;
    column-rule-style: solid;
}

.form-group .help-block {
	display: none;
}

.form-group.has-error .help-block{
	display: block;
}


.spinner{
	margin-left: 200px;
    position: absolute;
    margin-top: -500px;
}