<div>
	<form name="testForm" novalidate>
			<div ng-repeat="field in formCtrl.formData.fields">
				<div class="{{formCtrl.getFieldDisplay(field)}}">
					<!-- <ng-include src="formCtrl.getTemplate(field)" field="field"></ng-include> -->
					<!--  <comet-field field="field"></comet-field>   -->

					<!-- Plain text -->
					<div ng-if="field.type=='browse'">
						<span>{{ field.value }} </span>
					</div>


					<!-- general text input -->
					<div ng-if="field.type=='text'">
						<md-input-container>
							<label>{{::field.label}}</label>
							<input type="text" name="{{::field.id}}" ng-required="field.required" ng-model="field.value" md-maxlength="{{::field.maxlength}}" ng-disabled="{{::field.disabled}}" />
							<div ng-messages="testForm.{{field.id}}.$error" role="alert">
									<div ng-message="required">{{field.label}} is a required field</div>
							</div>
						</md-input-container>
					</div>


					<!-- Input button -->
					<div ng-if="field.type=='button'">
						<md-input-container>
							<md-button>{{field.label}}</md-button>
						</md-input-container>
					</div>


					<!-- Checkboxes -->
					<div ng-if="field.type=='checkbox'">
						<md-input-container>
							<label>{{field.label}}</label>
							<input type="checkbox" name="{{field.id}}" ng-model="field.value"/>
						</md-input-container>
					</div>


					<!--Date -->
					<div ng-if="field.type=='Date'">
						<md-input-container>
							<label>{{field.label}}</label>
							<input type="date" size="{{field.maxlength}}" name="{{field.id}}" ng-model="field.dateObject"/>
						</md-input-container>
					</div>


					<!-- Float -->
					<div ng-if="field.type=='Float'">
						<md-input-container>
							<label>{{field.label}}</label>
							<input type="number" size="{{field.maxlength}}" name="{{field.id}}" test-func ng-model="field.value"/>
							<div ng-messages="testForm.{{field.id}}.$error" role="alert">
									<div ng-message="required">{{field.label}} is a required field</div>
									<div ng-message="test-func">testFunc faild</div>
									 <div ng-message="number">{{field.label}} must be numeric</div>
							</div>
						</md-input-container>
					</div>


					<!-- float1 -->
					<div ng-if="field.type=='Float1'">
						<md-input-container>
							<label>{{field.label}}</label>
							<input type="number" size="{{field.maxlength}}" name="{{field.id}}" ng-model="field.value"/>
						</md-input-container>
					</div>


					<div ng-if="field.type=='Float4'">
						<md-input-container>
							<label>{{field.label}}</label>
							<input type="number" size="{{field.maxlength}}" name="{{field.id}}" ng-model="field.value"/>
						</md-input-container>
					</div>


					<div ng-if="field.type=='Numeric'">
						<md-input-container>
							<label>{{field.label}}</label>
							<input type="number" size="{{field.maxlength}}" name="{{field.id}}" ng-model="field.value" max="10"/>
							<div ng-messages="testForm.{{field.id}}.$error" role="alert">
									<div ng-message="required">{{field.label}} is a required field</div>
							</div>
						</md-input-container>
					</div>


					<div ng-if="field.type=='radio'">
						<md-radio-group ng-model="field.id">
							<label>{{ field.label}}</label>
							<md-radio-button ng-repeat="option in field.options" ng-value="option.value" aria-label="{{ option.description }}">
								{{ option.description}}
							</md-radio-button>
						</md-radio-group>	
					</div>


					<div ng-if="field.type=='select'">
						<md-select ng-model="field.value" placeholder="{{field.label}}">
								<md-option ng-repeat="option in field.options" value="{{option.value}}">{{option.description}}</md-option>
						</md-select>
					</div>


					<div ng-if="field.type=='textarea'">
						<md-input-container>
							<label>{{field.label}}</label>
							<textarea  name="{{field.id}}" ng-model="field.value"></textarea>
						</md-input-container>
					</div>

					
					<div ng-if="field.type=='time'">
						<md-input-container>
							<label>{{field.label}}</label>
							<input type="time" size="{{field.maxlength}}" name="{{field.id}}" ng-model="field.value"/>
						</md-input-container>
					</div>

	


				</div>
				<!-- <comet-text field="field" class="form-group" ng-class="{'has-error' : testForm.field.$invalid}"></comet-text> -->
		</div>
		 <md-input-container>
			<md-button class="md-raised md-primary" ng-disabled="testForm.$invalid" ng-click="formCtrl.sendForm()">{{ formCtrl.submitVal }}</md-button>
		</md-input-container>
		<div>{{ someVal}}</div>
			<div layout="column" layout-fill style="padding: 32px;" ng-if="testForm.$invalid">
				<h4 class="md-title">For testing purposes only</h4>
				<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
    				<ul>
			  			<li ng-repeat="(key, errors) in testForm.$error track by $index"> <strong>{{ key }}</strong> errors
						  	<ul>
						      <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
						    </ul>
						</li>
					</ul>		
		  		</md-whiteframe>
		  	</div>
	</form>
</div>