<div ng-switch on="formField.type">

<md-input-container ng-switch-when="date">
	<label>{{formField.label}}</label>
	<input type="date" size="{{formField.maxlength}}" name="{{formField.id}}" ng-model="formField.value"/>
</md-input-container>

<md-input-container ng-switch-when="number">
	<label>{{formField.label}}</label>
	<input type="text" size="{{formField.maxlength}}" name="{{formField.id}}" ng-model="formField.value"/>
</md-input-container>

<md-radio-group ng-switch-when="radio" ng-model="formField.id">
	<label>{{ formField.label}}</label>
	<md-radio-button ng-repeat="option in formField.options" ng-value="option.value" aria-label="{{ option.description }}">
		{{ option.description}}
	</md-radio-button>
</md-radio-group>	

<md-select ng-switch-when="select">
	<label>{{formField.label}}</label>
		<option ng-repeat="option in formField.options" name="formField.id" ng-model="formField.value" value="option.value">{{option.description}}</option>
</md-select>

<md-input-container ng-switch-when="text">
	<label>{{formField.label}}</label>
	<input type="text" size="{{formField.maxlength}}" name="{{formField.id}}" ng-model="formField.value"/>
</md-input-container>

<md-input-container ng-switch-when="textarea">
	<label>{{formField.label}}</label>
	<textarea  name="{{formField.id}}" ng-model="formField.value"></textarea>
</md-input-container>


</div>