	<header id="topNav">
        <div class="container">
    	    <a class="logo pull-left" href="index.html">
    	        <img src="icons/favicon-32x32.png">
    	    </a>
            <div class="navbar-collapse pull-right nav-main-collapse collapse">
                <nav class="nav-main">
    	           <ul id="topMain" class="nav nav-pills nav-main">
            	       <li class="dropdown mega-menu {{$index==1 ? 'active' : '' }}" ng-repeat="category in menuCtrl.menuData">
                            <a class="dropdown-toggle" href="#">
                                <span ng-if="!category.icon" class="wrapped-text">{{ category.title }}</span>
                                <span ng-if="category.icon" class="fa {{ category.icon }} fa-2x"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="row">
                                        <div class="" ng-repeat="column in category.layoutColumns">
                                            <ul class="list-unstyled" ng-if="column.length > 0">
                                                <li ng-repeat="row in column">
                                                    <a ng-if="category.groups.indexOf(row) === -1 && !row.empty" href="#" ng-click="reloadForm(row)">{{ row.label }}</a>
                                                    <span ng-if="category.groups.indexOf(row) !== -1 && !row.empty && row.title" >{{ row.title }}</span>
																										<i ng-if="row.empty">----------</i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
