	<header id="topNav">
        <div class="container">
    	    <a class="logo pull-left" href="index.html">
    	        <img src="icons/favicon-32x32.png">
    	    </a>
            <div class="navbar-collapse pull-right nav-main-collapse collapse">
                <nav class="nav-main">
    	           <ul id="topMain" class="nav nav-pills nav-main">
            	       <li class="dropdown mega-menu {{$index==1 ? 'active' : '' }}" ng-repeat="category in menuCtrl.menuData">
                            <a class="dropdown-toggle" href="#">
                                <span class="theme-color">{{ category.title.substr(0,15) }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                   <div class="row">
                                        <div class="col-md-5th" ng-repeat="group in category.groups">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <span>{{ group.title }}</span>
                                                </li>
                                                <li ng-repeat="item in group.items">
                                                    <a href="#">{{ item.label }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
