<div class="modal fade" id="extraFormModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">
        	<comet-form load-path="loadPath" form-title="title" close-function="dismissModal(res)"></comet-form>
      </div>
      <div class="modal-footer">
        <div ng-click="dismissModal(formData)">close</div>
        <div ng-click="close()" data-dismiss="modal">close</div>
      </div>
    </div>
  </div>
</div>